<div id="d5">
<% if (all.length > 0) { %>
    <% all.forEach(function(dados) { %>
        <div id="cardListagem" class="card">
            <div style="text-align: center; background-color: black; color: white; border-radius: 5px 5px 0 0;">ADOTAR</div>
            <img style="height: 280px;" src="animais_adocao/<%= dados.foto %>" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= dados.nome %></h5>
                <hr>
                <strong>Estado:</strong> <%= dados.estado %><br>
                <strong>Sexo:</strong> <%= dados.sexo %><br><br>
                <a style="width: 100%; background-color: black; color: white;" href="" class="btn">Quero adotar</a>
            </div>
        </div>
    <% }) %>
</div>
<% } else { %>
    <br>
    <br>
    <br>
    <center><h5>Nenhum animal cadastrado.</h5></center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
<% } %>
