<footer class="footer">
    <br>
    <br>
    <div id="d1">
        <br>
        <h4>SafePet</h4>
        <i class="material-icons"> mail </i>&nbsp; safepet@gmail.com<br>
        <i class="material-icons">smartphone</i>&nbsp; (51) 99987-6783<br>
        <i><strong>SafePet</strong> 2024 &copy;</i> <br>
        <br>
    </div>   
    <div id="d2">
        <br>
        <h4>Links Úteis</h4>
        <i class="material-icons">arrow_right</i><a href="/">Página inicial</a>
        <br>
        <i class="material-icons">arrow_right</i><a href="">Voltar ao topo</a>
        <br>
    </div>
</footer>   